<!DOCTYPE html>
 <footer>
        <nav>
            <a href="https://github.com/Aboomar524">Github</a>
            <a href="https://aboomar524.github.io/">Github.io</a>
            <a href="https://aboomar524.github.io/web115/">WEB115.io</a>
            <a href="https://www.freecodecamp.org/AhmadAlhomair">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/ahmadAlHomair9297602551">Codecademy</a>
            <a href="https://jsfiddle.net/abobana1/cmsq9x2j/11/">JSFiddle</a>
            <a href="https://www.linkedin.com/in/ahmad-al-homair/">LinkedIn</a>
        </nav>
        <p>
            Designed by Ahmad Alhomair - All Rights Reserved &copy;2024
        </p>
        <p><em>"Taste the most delicious sweets"</em></p>
    </footer>