<!DOCTYPE html>

<header>
  
  <img src="images/logo.png" alt="Sweet Syria Logo" class="logo">
  <h1>Ahmad Alhomair's Sweet Syria</h1>
  <nav>
      <ul class="navbar">
          <li><a href="index.html">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="contract.html">Contract</a></li>
          <li><a href="brand.html">Brand</a></li>
            <li><a href="onepagesite_original/index.html">OnePageSite</a></li>
            <li><a href="businesscard.html">Business Card</a></li>
          <li class="fizzbuzz-menu">
              <span>FizzBuzz:</span>
              <ul>
                  <li><a href="fizzbuzz0.html">0</a></li>
                  <li><a href="fizzbuzz1.html">1</a></li>
                  <li><a href="fizzbuzz2.html">2</a></li>
                  <li><a href="fizzbuzz3.html">3</a></li>
                  <li><a href="fizzbuzz4.html">4</a></li>
              </ul>
          </li>
      </ul>
  </nav>
</header>
