<!DOCTYPE html>

<header>
        <h1>Ahmad Alhomair's Sweet Syria</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="brand.html">Brand</a></li>
                <br /> <br>
                <li><a href="fizzbuzz0.html">Fizz Buzz 0</a></li>
                <li><a href="fizzbuzz1.html">Fizz Buzz 1</a></li>
                <li><a href="fizzbuzz2.html">Fizz Buzz 2</a></li>
              </ul>
            </ul>
        </nav>
    </header>