@charset "utf-8";
header {
    background-color: #01FF70;
    width: 100%;
    font-size: 100%;
    text-align: center;
    justify-content: space-between;
}

nav a {
    font-size: 30px;
    margin-right: 20px;
    padding-right: 20px;
}

nav {
    color: #f45f3a;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 30px;
}

a {
    font-size: 14px;
    color: #8B0000;
    text-decoration: none;
}

a:hover {
    color: #DC143C;
}

.small-link {
    font-size: 14px;
}

body {
    background-color: #d3d3d3;
    color: rgb(0, 160, 200);
    font-family: Callibri, Arial, sans-serif;
}

#My-Photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-image img {
    max-width: 100%;
    max-height: 100%;
}

figure {
    text-align: center;
    /* Center the content horizontally */
}

figcaption {
    font-style: italic;
    /* Make the caption italic, if desired */
}

footer {
    background-color: #01FF70;
    width: 100%;
    font-size: 150%;
    text-align: center;
    justify-content: space-between;
}


}
figure {
    float: right;
}
img#photo {
    height: 500px;
    width: auto;
}
Baklva {
    margin-Left: 30px;
}
Moshakel {
    margin-right: 30px;
}